/* CSS for My Blog. Made by R. L. Thomas Feb 2024*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Oswald:wght@200..700&display=swap');

h2 {
	font-family: "Oswald", sans-serif;
	font-style: normal;
	font-size: 25pt;
}

h3 {
	font-family: "Oswald", sans-serif;
	font-style: normal;
	font-size: 17pt;
}

p {
	margin-right: 5%;
	margin-left: 5%;
	font-family: "EB Garamond", serif;
	font-style: normal;
	font-size: 14pt;
}

.MainContent {
	margin-left: 15%;
	margin-right: 15%;
	padding: 1px 16px;
}

.RSideContent {
	margin: 0;
	padding: 0;
	width: 15%;
	background-color: #13151a;
	position: fixed;
	right: 0;
	height: 100%;
	overflow: auto;
	font-family: "Oswald", sans-serif;
	font-style: normal;
}

.RSideContent h3 {
	color: white;
}

hr.TitleBreak {
	border-top: 8px solid #293f63;
	border-radius: 5px;
	margin-left: 5%;
	margin-right: 5%;
}

.NoticeBoxDyn {
	border: 5px solid #385585;
	border-radius: 5px;
	background-color: #293f63;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
}

.NoticeBoxDyn a {
	color: #a8a1a0;
}

.NoticeBoxDyn a:hover {
	color: #bdb4b3;
}

.NoticeBoxDyn a:active {
	color: #524d4d;
}

#ThoughtList {
	color: white;
}

#NoticeBox {
	border: 5px solid #385585;
	border-radius: 5px;
	background-color: #293f63;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
}

#NoticeBox h3 {
	font-family: "Oswald", sans-serif;
	font-style: normal;
	font-size: 17pt;
	margin-top: 30px;
}

#NoticeBox p {
	font-family: "EB Garamond", serif;
	font-style: normal;
	font-size: 14pt;
	margin: 5%;
	margin-top: 30px;
	margin-bottom: 30px;
}

#NavList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 15%;
	background-color: #13151a;
	position: fixed;
	height: 100%;
	overflow: auto;
	font-family: "Oswald", sans-serif;
	font-style: normal;
}

li a {
	display: block;
	padding: 8px 16px;
	color: white;
	text-decoration: none;
}

li a.active {
	background-color: #385585;
	color: white;
}

li a:hover:not(.active) {
	background-color: #293f63;
	color: white;
}
